<% provide(:title, 'Sign up') %>
<h1>Create</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :lastname %>
      <%= f.text_field :lastname %>

      <%= f.label :rfid %>
      <%= f.text_field :rfid %>

      <button type="button" class="btn btn-success btn-block" id="sb">Read RFID</button>

      
      <%= f.submit "Create user", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
   $(document).ready(function(){                     
      $(function(){
         $("#sb").click(function(e){
            $("#sb").prop('disabled', true);
             $.ajax({
              url: "/readcard",
              dataType: "json",
              data: "data",  // with this, you can force the browser to not make cache of the retrieved data
              dataType: "text",  // jQuery will infer this, but you can set explicitly
              success: function( data, textStatus, jqXHR ) {
                var resourceContent = $.parseJSON(data)['card']; // can be a global variable too...
                var x = 0;
                $('#user_rfid').val(resourceContent);
                if (resourceContent == null){
                  var intervalID = setInterval(function () {
                    $.ajax({
                      url: "/readcard",
                      dataType: "json",
                      data: "data",  // with this, you can force the browser to not make cache of the retrieved data
                      dataType: "text",  // jQuery will infer this, but you can set explicitly
                      success: function( data, textStatus, jqXHR ) {
                        resourceContent = $.parseJSON(data)['card'];
                      }
                    });
                    if (resourceContent != null){
                      $('#user_rfid').val(resourceContent);
                      $("#sb").prop('disabled', false);
                      window.clearInterval(intervalID);
                    }
                    if (++x === 60) {
                      window.clearInterval(intervalID);
                      $("#sb").prop('disabled', false);
                  }
                  }, 1000);
                }
                else {
                  $("#sb").prop('disabled', false);
                }
              }
            });


           
        });
      });
    });
</script>